<% provide(:header_text, "SIGN UP")%>
<%= render 'layouts/header' %>
  <%= devise_error_messages! %>
  <div class="signup-page page-with-header flex-column-center will-blur">
    <%= image_tag "login/Login_wolf-logo@3x.png", class:"center-img-resposive login-logo" %>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "flex-column-center signup-form-container" }) do |f| %>
      <%= f.text_field :name, class:"emammal-text-input login-text-input lg-text", placeholder:"Username", autofocus: true %>
      <%= f.email_field :email, class:"emammal-text-input login-text-input lg-text", placeholder:"Email" %>
      <%= f.password_field :password, class:"emammal-text-input login-text-input lg-text", placeholder:"Password", autocomplete: "off" %>
      <%= f.password_field :password_confirmation, class:"emammal-text-input login-text-input lg-text", placeholder:"Confirm password", autocomplete: "off" %>

      <div class="signup-btn">
        <%= f.submit "Create account", class:"sign-up-btn emammal-btn light-btn lg-text" %>
      </div>
    <% end %>
    <div class="signup-or-guest flex-column-center">
      <%= link_to('Continue as guest', how_to_path) %>
    </div>
  </div>
<%= render 'shared/prevent_click'%>
<%= render 'shared/menu'%>
