<div class="immersion-page">
  <div class="panel-left">
    <%= image_tag("immersion/immersion-logo.png", alt: "eMammal Lite logo", class: "immersion-logo") %>
    <div class="emammal-info">
      <p>
        eMammal Lite contains over 4,000 camera trap images from 30 research projects around the world that are a part of the larger eMammal camera trapping project. Each of these photos helps scientists and conservationists document wildlife that may otherwise go unseen.
      </p>
      <p>
        While taking a photo with a camera trap is easily done with modern photography hardware, it is up to a human to provide the actual identification of what tripped the camera. It takes a lot of time and effort for researchers to analyze and identify each photo from a project. eMammal Lite asks you to help out by identifying, or tagging, animals captured in camera trap photos. Test your wildlife knowledge and explore the amazing animals you might find in your backyard or on the other side of the world!
      </p>
    </div>
    <div class="ribbon">
      <div class="ribbon-1"></div>
      <div class="ribbon-2"></div>
    </div>
  </div>
  <div class="panel-center-background">
    <%= image_tag("landing/desktop-gallery/raccoon.jpg", class: "project-background-img") %>
  </div>
  <div class="panel-center">
    <div class="project-info-immersion">
      <div class="project-banner">
        <h1 class="project-name-immersion"></h1>
      </div>
      <div class="project-description">
        <p class="project-description-text"></p>
      </div>
      <div class="map" data-url="<%= [@project.lon, @project.lat] %>">
        <svg></svg>
      </div>
    </div>
    <div class="cards-and-link-container">
      <div class="participate-link-holder">
        <h1 class="main-heading heading-style">WANT TO PARTICIPATE?</h1>
        <h2 class="sub-heading heading-style">go.ncsu.edu/emammallite</h2>
      </div>
      <div class="card-carousel">
        <div class="cards card-1">
          <%= render 'card' %>
        </div>
        <div class="cards card-2">
          <%= render 'card' %>
        </div>
        <div class="cards card-3">
          <%= render 'card' %>
        </div>
        <div class="cards card-4">
          <%= render 'card' %>
        </div>
        <div class="cards card-5">
          <%= render 'card' %>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-right">
    <div class="top-scores">
      <h1 class="headers" >Top Scores</h1>
      <div class="top-scores-list">
        <div class="top-score">

        </div>
      </div>
    </div>
    <div class="global-accuracy">

    </div>
    <div class="global-top-identified">

    </div>
  </div>
</div>
<!-- Testing overlay TODO: REMOVE FOR PRODUCTION -->
<!-- <div class="test-wrapper"></div> -->
