<div class="immersion-page">
  <div class="panel-left">
    <%= image_tag("immersion/immersion-logo.png", alt: "eMammal Lite logo", class: "immersion-logo") %>
    <div class="emammal-info">
      <h3>Do you know your wildlife?</h3>
      <p>
        eMammal Lite brings the challenge of tagging animals in camera trap photos to your desktop or mobile device without the need for your own camera trap. Consisting of over 4,000 candid photos of animals from 30 research projects around the world compiled by the citizen science camera trapping program eMammal, this web-based animal tagging game tests your ability to identify common, and not so common, animals.
      </p>
      <p>
        This display combines user tagging statistics, project information, and high resolution images to create an engaging exploration of the eMammal Lite photo collection.
      </p>
      <p>Join the game at go.ncsu.edu/emammallite</p>
    </div>
    <div class="ribbon">
      <div class="ribbon-1"></div>
      <div class="ribbon-2"></div>
    </div>
  </div>
  <div class="panel-center-background">
    <%= image_tag("landing/desktop-gallery/raccoon.jpg", class: "project-background-img", id: "background-img") %>
  </div>
  <div class="panel-center">
    <div class="project-info-immersion">
      <div class="project-banner">
        <h1 class="project-name-immersion"></h1>
      </div>
      <div class="project-description">
        <p class="project-description-text"></p>
      </div>
      <div class="map">
        <svg></svg>
      </div>
    </div>
    <div class="cards-and-link-container">
      <div class="participate-link-holder">
        <h1 class="main-heading heading-style">WANT TO PARTICIPATE?</h1>
        <h2 class="sub-heading heading-style">go.ncsu.edu/emammallite</h2>
      </div>
      <div class="card-carousel">
        <div class="cards card-1">
          <%= render 'card' %>
        </div>
        <div class="cards card-2">
          <%= render 'card' %>
        </div>
        <div class="cards card-3">
          <%= render 'card' %>
        </div>
        <div class="cards card-4">
          <%= render 'card' %>
        </div>
        <div class="cards card-5">
          <%= render 'card' %>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-right">
    <div class="top-scores">
      <h1 class="headers">Top Taggers at NCSU</h1>
      <div class="top-scores-list">
        <div class="top-score score-1"><h2 class="rank">1</h2></div>
        <div class="top-score score-2"><h2 class="rank">2</h2></div>
        <div class="top-score score-3"><h2 class="rank">3</h2></div>
        <div class="top-score score-4"><h2 class="rank">4</h2></div>
        <div class="top-score score-5"><h2 class="rank">5</h2></div>
      </div>
    </div>
    <div class="global-accuracy">
      <svg class="accuracy-svg"></svg>
        <h1 class="headers">Accuracy</h1>
        <h2 class="stat-description accuracy-descrpition">
          eMammal Lite users correctly tag animals <span class="accuracy-number"></span> of the time.
        </h2>
    </div>
    <div class="global-top-identified">
      <svg class="top-identified-svg"></svg>
        <h1 class="headers">Top Identified</h1>
        <h2 class="stat-description top-identified-descrpition"></h2>
    </div>
    <!-- <div class="stats-title">
      <h1 class="headers">NC STATE <small>USER STATS</small></h1>
    </div> -->
  </div>
</div>
<!-- Testing overlay TODO: REMOVE FOR PRODUCTION -->
<!-- <div class="test-wrapper"></div> -->
