<div class="menu">
  <div class="menu-header">
    <div class="small-logo">
      <%= image_tag("small-wolf-logo.svg", alt: "eMammal Lite", class: "center-img-resposive") %>
    </div>
    <div class="menu-title">
      <h1 class="xl-text no-margin-text">eMAMMAL</h1>
    </div>
    <div class="menu-menu-btn">
      <div class="menu-btn flex-column-center">
        <%= image_tag("mobile-menu-btn.svg", alt: "open menu", class: "center-img-resposive") %>
      </div>
    </div>
  </div>
  <div class="menu-user-info flex-row-center">
    <div class="user-icon">
      <%= image_tag("menu/user-default-photo@3x.png", alt: "open menu", class: "center-img-resposive") %>
    </div>
    <div class="user-name">
      <h1 class="body-text bold-text no-margin-text">Anonymous Wolf</h1>
      <h1 class="body-text oblique-text no-margin-text">login coming soon...</h1>
    </div>
  </div>
  <div class="menu-nav-container">
    <div class="menu-nav flex-column-center">
      <h1 class="lg-text"><%= link_to "ABOUT", about_path %></h1>
      <h1 class="lg-text"><%= link_to "IDENTIFY", identify_path %></h1>
      <h1 class="lg-text"><%= link_to "PHOTO ARCHIVE", photos_path%></h1>
      <h1 class="lg-text"><%= link_to "STATS", "#"%></h1>
    </div>
  </div>
</div>
