<%= render "shared/icons" %>
<div class="menu">
  <div class="menu-header">
    <div class="small-logo">
      <%= image_tag("small-wolf-logo.svg", alt: "eMammal Lite", class: "center-img-resposive") %>
    </div>
    <div class="menu-title">
      <h1 class="xl-text no-margin-text">eMAMMAL</h1>
    </div>
    <div class="menu-menu-btn">
      <div class="menu-btn flex-column-center">
        <%= image_tag("mobile-menu-btn.svg", alt: "open menu", class: "center-img-resposive") %>
      </div>
    </div>
  </div>
  <div class="menu-user-info flex-row-center">
    <div class="user-icon">
      <%= image_tag("menu/user-default-photo@3x.png", alt: "open menu", class: "center-img-resposive") %>
    </div>
    <div class="user-name">
      <% if user_signed_in? %>
        <h1 class="body-text bold-text no-margin-text">
          <%= current_user.email %>
        </h1>
        <h1 class="body-text oblique-text no-margin-text">
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
        </h1>
      <% else %>
        <h1 class="body-text bold-text no-margin-text">Guest Wolf</h1>
        <h1 class="body-text oblique-text no-margin-text">
          <%= link_to('Login', new_user_session_path)  %>
        </h1>
      <% end %>
    </div>
  </div>
  <div class="menu-nav-container">
    <ul class="menu-nav flex-column-center">
      <% {
        "TAG ANIMALS" => ["#identify", new_identification_path],
        "LEARN MORE" => ["#learn_more", learn_more_path],
        "PHOTO ARCHIVE" => ["#photo_archive", photos_path],
        "STATS" => ["#stats", identifications_path],
        "HOW TO" => ["#question", how_to_path]
      }.each do |page, page_info| %>
        <li class="menu-list-item">
          <svg class="menu-icon">
            <use xlink:href="<%= page_info[0] %>"></use>
          </svg>
          <% if yield(:header_text) == page %>
            <h1 class="lg-text bold-text menu-text"><%=page%></h1>
          <% else %>
            <h1 class="lg-text menu-text"><%= link_to page, page_info[1] %></h1>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
