<% provide(:header_text, "ABOUT")%>
<% provide(:icon, "icons/Learn_More-icon@3x.png")%>
<%= render 'layouts/header' %>

<div class="about flex-column-center">
  <div class="about-container">
    <div class="about-title">
        <h1 class="bold-text">About</h1>
    </div>

    <div class="about-body">
      <p class="body-text">
        <strong>eMammal</strong> is a system for collecting, storing, and sharing camera trap data. The system is designed for scientists, citizen scientists, and anyone who wants to join in the fun and discovery of camera trapping. Professional and volunteer camera trappers use our software to look at pictures, identify animals, and upload them to the Smithsonian Data Repository for review and storage. These pictures provide a unique view into the hidden world of wildlife.
      </p>
      <p class="body-text">
        <strong>Now let's see how you compare at identifying these animals</strong>
      </p>
    </div>
  </div>

  <!-- <%= link_to "Begin", identify_path, role: "button", class: "emammal-btn light-btn bold-text xl-text begin-btn" %> -->
</div>

<%= render 'shared/prevent_click'%>
<%= render 'shared/menu'%>

<!-- <% provide(:info_text, "About")%>
<%= render 'shared/info_drop_down' %> -->
