<% provide(:header_text, "HOW TO")%>
<%= render 'pages/how_to_svgs' %>
<%= render 'layouts/header' %>

<div class="how-to-page page-with-header flex-column-center will-blur">
  <div class="how-to-animations">
    <div class="how-to-arrow-holder how-to-next-arrow-holder flex-column-center">
      <svg class="how-to-next-arrow-svg">
        <use class="how-to-arrow how-to-next-arrow flash" xlink:href="#next-arrow"></use>
      </svg>
    </div>
    <div class="how-to-arrow-holder how-to-back-arrow-holder flex-column-center hidden">
      <svg class="how-to-back-arrow-svg">
        <use class="how-to-arrow how-to-back-arrow flash" xlink:href="#next-arrow"></use>
      </svg>
    </div>
    <svg class="how-to-animations-svg">
      <use class="logo" xlink:href="#logo"></use>
      <g class="identify-how-to">
        <use class="identify-animation" xlink:href="#identify"></use>
        <g class="cartoon-card">
          <use xlink:href="#cartoon-card"></use>
          <use class="cartoon-btn" xlink:href="#cartoon-btn"></use>
          <use class="cartoon-photo" xlink:href="#cartoon-photo"></use>
        </g>
        <use class="check-mark" xlink:href="#check-mark"></use>
        <g class="check-mark-bubble-group">
          <circle class="check-mark-bubbles" cx="25%" cy="100%" r="10px"/>
          <circle class="check-mark-bubbles" cx="10%" cy="68%" r="6px"/>
          <circle class="check-mark-bubbles" cx="40%" cy="40%" r="13px"/>
          <circle class="check-mark-bubbles" cx="75%" cy="110%" r="18px"/>
        </g>
      </g>
      <g class="stats-how-to hidden">
        <use class="stats-animation" xlink:href="#stats"></use>
        <g class="cartoon-stats">
          <g class="stat-group-1">
            <use class="stat-1" xlink:href="#stat-1"></use>
            <use class="stat-btn-1" xlink:href="#stat-btn-1"></use>
          </g>
          <g class="stat-group-2">
            <use class="stat-2" xlink:href="#stat-2"></use>
            <use class="stat-btn-1" xlink:href="#stat-btn-2"></use>
          </g>
          <g class="stat-group-3">
            <use class="stat-3" xlink:href="#stat-3"></use>
            <use class="stat-btn-1" xlink:href="#stat-btn-3"></use>
          </g>
          <use class="stat-cover" xlink:href="#stat-cover"></use>
        </g>
      </g>
      <g class="archive-how-to hidden">
        <use class="archive-animation" xlink:href="#photo_archive"></use>
        <g class="cartoon-archive hidden">
          <use class="archive-page-1" xlink:href="#archive-page-1"></use>
          <use y="98%" class="archive-page-2" xlink:href="#archive-page-2"></use>
        </g>
        <use class="archive-photo" xlink:href="#archive_photo"></use>
        <use class="archive-card-front" xlink:href="#archive_card_front"></use>
        <use class="archive-card-back" xlink:href="#archive_card_back"></use>
      </g>
    </svg>
  </div>
  <div class="how-to-text flex-column-center">
    <h1 class="how-to-title lg-header">eMammal Lite</h1>
    <p class="how-to-explanation body-text">
      This 'how to' will walk you through the three main sections of eMammal Lite: Tagging Animals, Tracking Stats, and Exploring Photos.
    </p>
  </div>
  <div class="how-to-items flex-column-center">
    <svg class="how-to-icon">
      <use class="identify-icon" xlink:href="#identify"></use>
      <use class="stats-icon hidden" xlink:href="#stats"></use>
      <use class="archive-icon hidden" xlink:href="#photo_archive"></use>
    </svg>
    <svg class="how-to-progress">
      <circle class="progress-circle p-1 active" cx="25%" cy="50%" r="6px"/>
      <circle class="progress-circle p-2" cx="50%" cy="50%" r="6px"/>
      <circle class="progress-circle p-3" cx="75%" cy="50%" r="6px"/>
    </svg>
    <p class="skip-how-to">
      <%= link_to "skip", new_identification_path %>
    </p>
  </div>
</div>

<%= render 'shared/prevent_click'%>
<%= render 'shared/menu'%>
