<% provide(:header_text, "LEARN MORE")%>
<%= render 'layouts/header' %>

<div class="learn-more flex-column-center will-blur">
  <div class="learn-more-container">
    <div class="learn-more-title">
        <h2 class="xl-header bold-text">About eMammal Lite</h2>
    </div>
    <div class="learn-more-body">
      <p class="body-text">
        eMammal Lite contains over 5,000 camera trap images from 30 research projects around the world that are a part of the larger eMammal camera trapping project. Each of these photos helps scientists and conservationists document wildlife that may otherwise go unseen.
      </p>
      <p class="body-text">
        While taking a photo with a camera trap is easily done with modern photography hardware, it is up to a human to provide the actual identification of what tripped the camera. It takes a lot of time and effort for researchers to analyze and identify each photo from a project. eMammal Lite asks you to help out by identifying, or tagging, animals captured in camera trap photos. Test your wildlife knowledge and explore the amazing animals you might find in your backyard or on the other side of the world!
      </p>
      <h2 class="sm-header oblique-text">What is a Camera Trap?</h2>
      <p class="body-text">
        A camera trap is a remotely activated camera that is equipped with a motion sensor, an infrared sensor, or a light beam as a trigger. When an animal or other large object trips the sensor, an image or series of images is collected. Camera trapping is a method for capturing wild animals on film when researchers are not present, and has been used in ecological research for decades.
      </p>
      <p class="body-text">
        Don't have your own camera trap? Don't worry, eMammal Lite brings the fun of tagging animals in camera trap photos without the need for your own camera trap.
      </p>
    </div>
    <div class="learn-more-title">
        <h2 class="xl-header bold-text">About eMammal</h2>
    </div>
    <div class="learn-more-body">
      <p class="body-text">
        eMammal is a tool for collecting, archiving, and sharing camera trapping images and data. The system is designed for scientists and citizen scientists, and anyone who wants to join in the fun and discovery of camera trapping. Professional and volunteer camera trappers use the eMammal software to look at pictures, identify animals, and upload them to the Smithsonian Data Repository for review and storage.
      </p>
      <a class="body-text bold-text" href="https://emammal.si.edu" target="_blank">emammal.si.edu</a>
      <h2 class="xl-header bold-text">Get Involved</h2>
      <p class="body-text">
        eMammal is composed of different research projects and some of these projects recruit volunteers to place cameras while other projects use hired staff.
      </p>
      <p class="body-text">
        The eMammal project encourages anyone who is interested in camera trapping to volunteer if there is an existing project in their area. Active citizen science projects are available on the eMammal website.
      </p>
      <a class="body-text bold-text" href="https://emammal.si.edu/participate/cameratrappers" target="_blank">emammal.si.edu/participate/cameratrappers</a>
    </div>
    <footer>
      <div class="lib-logo">
        <%= image_tag("landing/libraries-logo-red.png", alt: "eMammal Lite", class: "center-img-resposive") %>
      </div>
      <p class="sm-text">
      This application was developed at <a class="body-text bold-text" href="http://www.lib.ncsu.edu/">The NCSU Libraries</a>. For more information on digital development at The NCSU Libraries see the <a class="body-text bold-text" href="https://www.lib.ncsu.edu/department/digital-library-initiatives">Digital Library Initiatives</a> project and initiatives page: <a class="body-text bold-text" href="https://www.lib.ncsu.edu/dli/projects">https://www.lib.ncsu.edu/dli/projects</a>
      </p>
    </footer>
  </div>
  <!-- <%= link_to "Begin", identify_path, role: "button", class: "emammal-btn light-btn bold-text xl-text begin-btn" %> -->
</div>

<%= render 'shared/prevent_click'%>
<%= render 'shared/menu'%>

<!-- <% provide(:info_text, "about")%>
<%= render 'shared/info_drop_down' %> -->
