<% provide(:header_text, "LOG IN")%>
<% provide(:icon, "icons/Question_icon@2x.png")%>
<%= render 'layouts/header' %>
  <div class="signup-page page-with-header flex-column-center will-blur">
    <%= image_tag "login/Login_wolf-logo@3x.png", class:"center-img-resposive login-logo" %>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.email_field :email, autofocus: true, class:"emammal-text-input lg-text", placeholder:"Email" %>
      <%= f.password_field :password, autocomplete: "off", class:"emammal-text-input lg-text", placeholder:"Password" %>
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class:"emammal-btn light-btn lg-text"  %>
      </div>
    <% end %>
  </div>
<%= render 'shared/prevent_click'%>
<%= render 'shared/menu'%>
