<% provide(:header_text, "PHOTO ARCHIVE")%>
<% provide(:icon, "icons/Photo-icon@3x.png")%>
<%= render 'layouts/header' %>
<div class="page-with-header will-blur">
  <div class="photo-search-container flex-column-center">
    <%= form_tag(photos_path, method: "get", html: { id: "photo-search", class:""}, remote: true) do %>
      <%= text_field_tag :search, params[:search], class: "emammal-text-input" %>
      <%= submit_tag "Search", :name => nil, class: "emammal-btn light-btn" %>
    <% end %>
  </div>
  <div class="flex-row-center photos-container">
    <%= render 'photos/photos_viewer'%>
  </div>
</div>

<%= render 'shared/prevent_click'%>
<%= render 'shared/menu'%>

<% provide(:info_text, "Photos of all the animals")%>
<%= render 'shared/info_drop_down' %>

<!-- <%= link_to 'New Photo', new_photo_path %>
<p id="notice"><%= notice %></p>

<h1>Listing Photos</h1>

<table>
  <thead>
    <tr>
      <th>Animal</th>
      <th>Source</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= photo.animal %></td>
        <td><%= photo.source %></td>
        <td><%= link_to 'Show', photo %></td>
        <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
        <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->
