<% provide(:header_text, "PHOTO ARCHIVE")%>
<% provide(:icon, "icons/Photo-icon@3x.png")%>
<%= render 'layouts/header' %>
<div class="photo-archive-page page-with-header will-blur">
  <div class="photo-search-container flex-column-center">
    <%= render 'photos_search_form'%>
  </div>
  <div class="flex-row-center photos-container">
    <%= render 'photos/photos_viewer'%>
  </div>
</div>

<%= render 'shared/prevent_click'%>
<div class="card-container card-container-absolute">
  <div class="card card-absolute">
    <div class="front">
      <div id="photo" class="id-card-img">
        <!-- archive_photo partial -->
      </div>
      <div id="photo_content" class="id-card-choice-container will-blur-archive-photo">
        <!-- archive_photo_content partial -->
      </div>
    </div>
    <div id="back_of_card" class="back">
      <!-- archive_back_of_card partial -->
    </div>
  </div>
</div>
<%= render 'shared/menu'%>

<% provide(:info_text, "Browse the eMammal Lite photo archive. Not doing too well at identifications? No problem! All the animals are here, so poke around, study up, or just explore our goldmine of camera trap images. Click on an image to view more information.")%>
<%= render 'shared/info_drop_down' %>
