<% provide(:header_text, "PHOTO ARCHIVE")%>
<%= render 'layouts/header' %>
<p id="notice"><%= notice %></p>

<h1>Listing Photos</h1>

<table>
  <thead>
    <tr>
      <th>Animal</th>
      <th>Source</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= photo.animal %></td>
        <td><%= photo.source %></td>
        <td><%= link_to 'Show', photo %></td>
        <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
        <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="flex-row-center">
  <% @photos.each do |photo| %>
    <div class="sm-img">
      <%= image_tag("https://s3.amazonaws.com/emammalphoto/#{photo.source}_o.jpg", alt: "eMammal Lite", class: "center-img-resposive") %>
    </div>
  <% end %>
</div>
<br>

<%= link_to 'New Photo', new_photo_path %>
