<p id="notice"><%= notice %></p>

<p>
  <strong>Animal:</strong>
  <%= @photo.animal %>
</p>

<p>
  <strong>Source:</strong>
  <%= @photo.source %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
