<% provide(:header_text, "STATS")%>
<% provide(:icon, "icons/Learn_More-icon@3x.png")%>
<%= render 'layouts/header' %>

<div class="stats-page page-with-header flex-column-center will-blur" data-url="<%= current_or_guest_user.stats.to_json %>">
  <div class="accordion">
    <div class="accordion-item flex-column-center">
      <div class="stats-group-header flex-column-center">
        <h1 class="sm-header bold-text">SCORE</h1>
      </div>
      <div class="stats-group flex-column-center">
        <div class="stat-score">
          <h1 class="bold-text big-score">
            <%= current_or_guest_user.stats[:correct]%>
          </h1>
          <h2 class="bold-text stat-header">Your Score</h2>
        </div>
        <div class="stat-score-bar">
          <svg class="score-bar">
            <rect class="full-bar bar stat-color-0"></rect>
            <rect class="percentage-bar bar stat-color-1"></rect>
          </svg>
          <p class="lg-text stat-text">
            You have correctly tagged <span class="bold-text"><%= current_or_guest_user.stats[:correct]%></span> animals in <span class="bold-text"><%= current_or_guest_user.stats[:attempts]%></span> attempts.
          </p>
          <p class="lg-text stat-text">
            You have <span class="bold-text"><%= Photo.all.count.to_i - current_or_guest_user.stats[:correct].to_i %></span> animal photos left to tag.
          </p>
        </div>
        <div class="stats-score-global">
          
        </div>
      </div>
    </div>
    <div class="accordion-item flex-column-center">
      <div class="stats-group-header flex-column-center">
        <h1 class="sm-header bold-text">ACCURACY</h1>
      </div>
      <div class="stats-group flex-column-center">
        <div class="stat-accuracy">
          <svg class="accuracy-donut">
          </svg>
          <h1 class="bold-text stat-header">Your Accuracy</h1>
        </div>
        <p class="lg-text stat-text">
          You have correctly tagged the animal in <span class="bold-text accuracy-number"></span> of the photos you have attempted.
        </p>
      </div>
    </div>
    <div class="accordion-item flex-column-center">
      <div class="stats-group-header flex-column-center">
        <h1 class="sm-header bold-text">TOP TAGS</h1>
      </div>
      <div class="stats-group flex-column-center">
        <div class="stat-top-identified">
          <svg class="top-bar">
          </svg>
          <h1 class="bold-text stat-header">Your Top Animals</h1>
        </div>
        <p class="lg-text stat-text">
          The top three animals identified by you are <span class="bold-text accuracy-number"><%= "#{current_or_guest_user.stats[:animals].keys[0]}, #{current_or_guest_user.stats[:animals].keys[1]}"%></span>, and <span class="bold-text accuracy-number"><%= "#{current_or_guest_user.stats[:animals].keys[2]}" %></span>.
        </p>
      </div>
    </div>
  </div>
  <div class="stats-instructions flex-column-center">
    <div class="text">
      <p class="body-text">
        Select a category to see your stats and compare them with other users
      </p>
    </div>
  </div>
</div>

<%= render 'shared/prevent_click'%>
<%= render 'shared/menu'%>

<% provide(:info_text, "Your progress as a citizen scientist will be kept here. Click on any of the categories below to get a more detailed view of how your stats compare to other users.")%>
<%= render 'shared/info_drop_down' %>
