<% provide(:header_text, "TAG ANIMALS")%>
<% provide(:user_score, current_or_guest_user.stats[:correct].to_s)%>
<% provide(:icon, "icons/Learn_More-icon@3x.png")%>
<%= render "shared/icons" %>
<%= render 'layouts/header' %>
<div class="id-page page-with-header flex-column-center will-blur">
  <div class="card-container flex-row-center">
    <div class="card">
      <div class="front">
        <div id="photo" class="id-card-img">
          <%= render 'photo' %>
        </div>
        <div id="photo_content" class="id-card-choice-container will-blur-photo">
          <%= render 'photo_content'%>
        </div>
        <div class="skip-container will-blur-photo">
          <%= link_to new_identification_path, class: "xs-text skip-text", remote: true do %>
          skip >
          <% end %>
        </div>
      </div>
      <div id="back_of_card" class="back"></div>
    </div>
    <%= link_to new_identification_path, class: "next-arrow flex-column-center flash", remote: true do %>
      <svg>
        <use xlink:href="#next-arrow"></use>
      </svg>
    <% end %>
  </div>
  <div class="score-container flex-column-center will-blur-photo">
    <h1 class="lg-text">SCORE: <span class="score"><%= yield(:user_score) %></span> <span class="xs-text"> &frasl; <%= Photo.all.count %></span></h1>
  </div>
</div>

<%= render 'shared/prevent_click'%>
<%= render 'shared/menu'%>

<% provide(:info_text, "Can you make out the animals in these pictures? Let’s find out. Below you will see a Card containing a camera trap image. Choose from the choices provided to test your skills and contribute to the database of tags. The more tags you make, the higher your score will grow. If you get one wrong, don't worry, we’ll store it and bring it back around for you to try again later. Go ahead give it a try!")%>
<%= render 'shared/info_drop_down' %>
