<header class="header will-blur will-blur-photo flex-row-center">
  <div class="mobile-header flex-row-center">
    <div class="header-menu-btn">
      <div class="menu-btn flex-column-center">
        <%= image_tag("mobile-menu-btn.svg", alt: "open menu", class: "center-img-resposive") %>
      </div>
    </div>
    <div class="header-page-title">
      <h1 class="header-text xl-text"><%= yield(:header_text) %></h1>
    </div>
    <div class="header-page-icon">
      <% if !yield(:icon).empty? %>
      <%= image_tag(yield(:icon), alt: "identify icon", class: "center-img-resposive") %>
      <% end %>
    </div>
  </div>

  <div class="desktop-header flex-row-center">
    <div class="logo-left">
      <%= image_tag("desktop_heading_logo_blue.png", alt: "eMammal Lite logo", class: "center-img-resposive") %>
      <h1 class="lg-text logo-text">eMAMMAL LITE</h1>
      <div class="logo-border-right"></div>
    </div>
    <div class="main-links-user-icon-holder">
      <% {
        "TAG ANIMALS" => new_identification_path,
        "STATS" => identifications_path,
        "PHOTO ARCHIVE" => photos_path
      }.each do |page, page_info| %>
        <% if yield(:header_text) == page %>
          <h2 class="lg-text bold-text link"><%= page %></h2>
        <% else %>
          <%= link_to page, page_info, class: "lg-text link" %>
        <% end %>
      <% end %>
      <div class="user-info flex-column-center">
        <h1 class="body-text bold-text no-margin-text">
          <%= current_or_guest_user.name %>
        </h1>
        <div class="user-icon">
          <%= image_tag("menu/user-default-photo@3x.png", alt: "open menu", class: "center-img-resposive") %>
        </div>
        <% if user_signed_in? %>
        <h1 class="body-text oblique-text no-margin-text">
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
        </h1>
      <% else %>
        <h1 class="body-text oblique-text no-margin-text">
          <%= link_to('Login', new_user_session_path)  %>
        </h1>
      <% end %>
      </div>
    </div>
  </div>

</header>
